* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.promo {
    min-height: 800px;
    background-image: url('../img/backGround/main_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 38px 0px 61px 0px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo .logo_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 16px;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
    text-align: center;
}

h1 {
    margin-top: 53px;
}

.simple_line {
    height: 2px;

}

.simple .title_big {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    margin-top: 23px;
    padding: 0 13px 0 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
}

.promo button {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    font-family: 'Roboto';
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.more {
    margin-top: 70px;
}

.more .more_text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 4.5px;
    width: 29.99px;
    height: 18.99px;
}

.intensive {
    min-height: 607px;
    background: #EFEFEF;
    padding: 45px 0px 75px 0px;
}

.intensive .intensive_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.intensive .intensive_line, .final .final_line  {
    background-color: #F9BF3B;
    width: 220px;
    height: 7px;
    margin: 0 auto;
    margin-top: 18px;
}

.intensive .intensive_subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
    color: #4A4A4A;
}

.intensive_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.intensive .intensive_block {
    width: 342px;
    min-height: 312px;
}

.intensive .intensive_text {
    margin-top: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.intensive .intensive_img {
    width: 100%;
}

.optimization {
    min-height: 547px;
    padding: 106px 0px 74px 0px;
    
}

.optimization .container {
    position: relative;
}

.optimization .optimization_img {
   position: absolute;
   top: 47px;
   left: -240px;
   z-index: -5;
}

.optimization .optimization_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #299CBD;
    margin-left: 381px;
}

.optimization .optimization_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
    margin-left: 381px;
}

.optimization span {
    font-weight: 700;
}

.final {
    min-height: 447px;
    background-image: url('../img/backGround/second_bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 86px 0px 68px 0px;
}

.final .final_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #EFEFEF;
    text-align: center;
}

.final .final_wrapper {
    display: flex;
    margin-top: 39px;
    justify-content: space-between;
}

.final .final_item {
    width: 204px;
}

.final .final_description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
    text-align: center;
    margin-top: 24px;
}

.final .final_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    margin: 0 auto;
}

.present {
    margin-top: 19px;
    min-height: 631px;
    padding: 88px 0px;
    background: #EFEFEF;
}

.present .present_img {
    display: block;
    width: 154px;
    height: 174px;
    margin: 0 auto;
}

.present .present_description {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
    margin-top: 45px;
}

.present .present_btn {
    display: block;
    margin: 0 auto;
    margin-top: 51px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto';
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.first_webinar {
    min-height: 524px;
    padding: 101px 0px 52px 0px;
}

.first_webinar .first_webinar_img {
    display: block;
    margin: 0 auto;
    width: 342px;
    height: 201px;
}

.first_webinar .first_webinar_title {
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.first_webinar .first_webinar_schedule {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
    text-align: center;
}

.first_webinar .first_webinar_description {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
    text-align: center;
}

.footer {
    min-height: 169px;
    padding: 57px 0px 69px 0px;
    background: #1A1A1A;
}

.footer .footer_content {
    margin: 0 auto;
    text-align: center;
    width: 407px;
    min-height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #888888;
}

